.todo-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
  }
  
  .title {
    color: #000000;
    font-family: 'Roboto';
    margin-left: 10px;
  }
  
  .btn-style {
    background-color: transparent;
    font-weight: bold;
    border-radius: 10px;
    border-color: #ffffff;
    margin-right: 30px;
    color: #ff8542;
    width: 70px;
    height: 20px;
  }