.bg-container {
    background-color: #ffa1e6;
    padding: 45px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .card-1 {
    border-radius: 15px;
    background-color: #8cecef;
    display: flex;
    flex-direction: column;
    width: 80vh;
  }
  
  .heading-1 {
    color: #ff0b37;
    font-family: 'Roboto';
    text-align: center;
  }